/**
 * @license
 * Copyright 2020 Mutlu Can YILMAZ
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

#panels {
  position: fixed;
  top: calc(50vh - var(--kr-panel-height) / 2);
  z-index: 5000;
}

#panels * {
  scroll-behavior: auto !important;
}

#left-panel,
#right-panel {
  user-select: none;
  background: var(--kr-shell-background);
  border-color: var(--kr-shell-border);
  border-width: 1px;
  border-style: solid;
  position: fixed;
  opacity: 1;
  contain: paint style layout;
}

#left-panel.hidden {
  transform: translate(-100px);
  opacity: 1;
}

#right-panel.hidden {
  transform: translate(100px);
  opacity: 1;
}

#left-panel.show {
  transform: translate(0);
  opacity: 1;
}

#right-panel.show {
  transform: translate(0);
  opacity: 1;
}

#left-panel.full {
  transform: translate(382px) !important;
}

#right-panel.full {
  transform: translate(-382px) !important;
}

#right-panel {
  right: -390px;
}

#left-panel {
  left: -390px;
}

#left-panel .os-scrollbar-vertical {
  left: -5px;
  padding: 0;
}

#right-panel .os-scrollbar-vertical {
  right: -5px;
  padding: 0;
}

#panelapp-content {
  overflow: hidden;
  width: 380px;
  margin-left: 3px;
  margin-right: 6px;
  background-color: #edededdb;
}

.kr-dark #panelapp-content {
  background-color: #1414149e;
}

.panel-item-content {
  margin-right: 3px;
  margin-left: 6px;
  width: 380px;
  height: inherit;
  overflow: hidden;
  content-visibility: auto;
}

#left-panel .kr-panelapp.hidden {
  opacity: 0;
  transform: translateX(-390px);
}

#right-panel .kr-panelapp.hidden {
  opacity: 0;
  transform: translateX(390px);
}

.kr-panelapp {
  transform: translateX(0);
  position: absolute;
  opacity: 1;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 380px;
  height: inherit;
}

.panel-content {
  overflow: hidden;
  display: table-cell;
  padding: 3px;
  height: var(--kr-panel-height);
}

.panel-icons {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.kr-dark .panel-icons {
  filter: brightness(0.8) contrast(1.2);
}

.kr-pi-dim {
  height: var(--kr-panel-icon-size);
  width: var(--kr-panel-icon-size);
}

.panel-icon {
  position: relative;
  border: 1px solid rgb(170 170 170 / 30%);
  border-bottom-width: 0;
  background-size: cover;
  background-color: #242424;
  overflow: hidden;
}

.panel-icon-default {
  transform: scale(0.7, 0.7);
  opacity: 0.65;
}

.icon-hidden .panel-icon-default {
  transform: scale(0.7, 0.7);
  opacity: 0;
}

.pai-text {
  position: absolute;
  margin: 0;
  overflow: hidden;
  border-radius: var(--kr-border-radius);
  font-size: smaller;
  color: black;
  opacity: 0.65;
}

.pai-image {
  position: absolute;
  margin: 0;
  overflow: hidden;
}

.panel-icon:last-child {
  border-bottom-width: 1px;
}

.panel-icon > webview {
  position: absolute;
}

.panel-icon .hidden {
  opacity: 0;
}

.panel-icon > img {
  position: absolute;
}

.panel-icon > span {
  position: absolute;
  font-size: var(--kr-panel-icon-size);
  line-height: 1;
  color: black;
}

.panel-icon .placeholder {
  position: absolute;
  opacity: 0.0001;
  z-index: 2;
  background-color: white;
  touch-action: pan-y;
}

.panel-icon .placeholder:hover {
  opacity: 0.1;
}

.panel-item-content .placeholder {
  position: absolute;
  width: 320px;
  height: 100%;
  opacity: 0.5;
  top: 0;
  z-index: 2;
}

#left-panel .panel-icon > img {
  transform: scale(0.7, 0.7);
  opacity: 0.65;
}

.hsi-l,
.hsi-r {
  background-color: #7f7f7f;
  height: var(--kr-panel-icon-size);
}

.hsi-l:nth-child(1),
.left-item:nth-child(1) {
  background-color: #ff948c;
}

.hsi-l:nth-child(2),
.left-item:nth-child(2) {
  background-color: #ffb575;
}

.hsi-l:nth-child(3),
.left-item:nth-child(3) {
  background-color: #fff366;
}

.hsi-l:nth-child(4),
.left-item:nth-child(4) {
  background-color: #cbff6c;
}

.hsi-l:nth-child(5),
.left-item:nth-child(5) {
  background-color: #6dfdb4;
}

.hsi-l:nth-child(6),
.left-item:nth-child(6) {
  background-color: #66c8f7;
}

.hsi-l:nth-child(7),
.left-item:nth-child(7) {
  background-color: #709bfb;
}

.hsi-l:nth-child(8),
.left-item:nth-child(8) {
  background-color: #ac7afb;
}

.hsi-l:nth-child(9),
.left-item:nth-child(9) {
  background-color: #cc6fd8;
}

.hsi-l:nth-child(10),
.left-item:nth-child(10) {
  background-color: #e48c70;
}

.hsi-l:nth-child(11),
.left-item:nth-child(11) {
  background-color: #dadc5f;
}

.hsi-l:nth-child(12),
.left-item:nth-child(12) {
  background-color: #66f0a6;
}

.hsi-l:nth-child(13),
.left-item:nth-child(13) {
  background-color: #87b7ff;
}

.panelapp {
  height: 100%;
  width: 100%;
}

.miniapp-icon {
  height: 100%;
  content-visibility: auto;
}

.panel-container {
  display: flex;
}

.panelapp-mini {
  height: 100%;
}

.hotspot {
  position: fixed;
  background-color: black;
  z-index: 4000;
}

#left-hotspot {
  left: 0;
  width: var(--kr-hotspot-weight);
  height: 100%;
}

#right-hotspot {
  height: 100%;
  width: var(--kr-hotspot-weight);
  right: 0;
}

#top-hotspot {
  height: var(--kr-hotspot-weight);
  width: 100%;
  overflow-y: hidden;
}

#bottom-hotspot {
  height: var(--kr-hotspot-weight);
  width: 100%;
  bottom: 0;
}

.hs-area {
  opacity: 1;
  display: table-cell;
  position: absolute;
  overflow: hidden;
}

.hs-area.dimmed {
  opacity: 0.4;
}

.hs-area.hidden {
  opacity: 0;
}

.hs-area .hidden {
  opacity: 0;
}

.hs-area > div:active {
  background-color: white;
}

#hsa-l,
#hsa-r {
  top: calc(50vh - var(--kr-panel-height) / 2);
  height: var(--kr-panel-height);
}

#hsa-r {
  left: var(--kr-hotspot-margin);
  width: 100%;
  margin-top: 4px;
}

#hsa-r > div {
  margin-top: 1px;
}

#hsa-l {
  right: var(--kr-hotspot-margin);
  margin-top: 4px;
  width: 100%;
}

#hsa-l > div {
  margin-top: 1px;
}

.hsi-t {
  width: 100%;
  height: 100%;
  bottom: var(--kr-hotspot-margin);
  margin-left: 4px;
  display: inline-block;
  position: relative;
}

#hsa-t {
  opacity: 0;
  margin-left: 8px;
}

#top-area {
  vertical-align: top;
  position: fixed;
  max-width: 100%;
  top: 0;
  right: 0;
  z-index: 5000;
  margin: 5px;
  display: flex;
  justify-content: flex-end;

  --adapt: 0;
}

#top-area.hidden {
  top: -50px;
}

#top-area.adapt {
  right: var(--adapt);
  max-width: 40%;
}

#system-tray {
  position: relative;
  height: 28px;
  display: flex;
  background-color: var(--kr-shell-background);
  color: var(--kr-shell-text);
  border-color: var(--kr-shell-border);
  border-width: 1px;
  border-style: solid;
  align-items: center;
}

#system-tray div {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

#clock {
  color: var(--kr-shell-text);
  margin-right: 5px;
}

#battery {
  margin-right: 3px;
}

#network {
  margin-right: 3px;
  margin-left: 5px;
}

#system-menus {
  z-index: 1500;
  color: var(--kr-shell-text);
}

#system-menus.hidden {
  visibility: hidden;
  z-index: 0;
}

.system-menu #desktop {
  transform: scale(0.8);
}

.system-menu #applications {
  width: 100%;
  height: 100%;
  transform: scale(0.85);
}

.system-menu #top-area,
.system-menu #panels *,
.system-menu #bottom-area {
  visibility: hidden;
}

#system-menus button {
  font-size: 24px;
  height: 74px;
}

#system-menu-right,
#system-menu-top {
  display: flex;
  position: fixed;
}

#system-menu-right {
  flex-direction: column;
  display: flex;
  right: 0;
  height: 100%;
}

#system-menu-top {
  display: inline-flex;
  width: calc(100% - 100px);
  height: 60px;
}

#sm-information {
  flex-grow: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#sm-date {
  font-size: larger;
}

#sm-volume,
#sm-brightness {
  margin: 10px;
  font-size: 24px;
  display: flex;
}

#sm-volume span,
#sm-brightness span {
  margin: 4px;
}

#sm-volume input,
#sm-brightness input {
  width: 20vw;
}

#notifications {
  display: flex;
  margin-right: 2px;
  overflow: auto;
}

#notifications:hover {
  overflow: visible;
}

/*noinspection CssUnresolvedCustomProperty*/
.notification {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 28px;
  width: 28px;
  background-color: var(--notify-color-dark);
  border: 1px solid var(--notify-color);
  color: white;
  margin-left: 2px;
  overflow: hidden;
}

.notification.preview {
  width: 250px;
}

.notification > img {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 24px;
  height: 24px;
  margin: 2px;
  filter: grayscale(1) brightness(1.4);
  opacity: 0.8;
  pointer-events: none;
}

.notification > h1,
.notification > h2,
.notification > p {
  font-size: var(--kr-general-font-size);
  flex-shrink: 0;
  position: absolute;
  margin: 5px 5px 5px 32px;
  width: 163px;
  opacity: 0;
  text-overflow: clip;
  white-space: nowrap;
  overflow: auto;
  display: none;
}

.notification > h1 {
  font-weight: normal;
  width: 192px;
  top: 0;
}

.notification > h2 {
  width: 218px;
  top: 0;
  margin-right: 0;
  opacity: 1;
  display: block;
  overflow: hidden;
}

.notification > p {
  top: 46px;
  width: 240px;
  margin-left: 5px;
  margin-bottom: 0;
  white-space: normal;
  height: 76px;
}

.notify-buttons {
  display: flex;
  position: absolute;
  top: 88px;
  width: 100%;
  opacity: 0;
}

.notify-buttons button {
  flex-grow: 1;
  flex-basis: 0;
  height: 31px;
  white-space: nowrap;
}

.notify-buttons .mdi {
  font-size: 21px;
}

.notification .notify-close {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: visible;
  min-height: 28px !important;
  width: 28px;
  height: 28px;
  padding: 0 !important;
  font-size: 21px;
}

.notification:hover {
  height: 125px;
  width: 250px;
}

.notification:hover > img {

}

.notification:hover > h1,
.notification:hover > h2,
.notification:hover > p {
  opacity: 1;
  display: block;
}

.notification:hover > h2 {
  top: 24px;
  width: 245px;
  margin-left: 5px;
  margin-right: 0;
  overflow: auto;
}

.has-buttons.notification:hover > p {
  height: 42px;
}

.notification:hover .notify-buttons {
  opacity: 1;
  display: flex;
}

.notification:hover .notify-close {
  opacity: 1;
  visibility: visible;
}

#desktop-placeholder {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  top: 0;
}

#applications {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1;
}

#bottom-area {
  --scroll: 0px;

  display: flex;
  position: fixed;
  z-index: 3000;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% + var(--scroll)));
  contain: layout style;
}

#bottom-area.hidden {
  transform: translateY(calc(var(--kr-taskbar-icon-size) + 20px)) translateX(-50%);
}

#bottom-area.show {
  transform: translateY(0) translateX(calc(-50% + var(--scroll))) !important;
}

.bottom-scroll {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  height: calc(var(--kr-taskbar-icon-size) + 20px);
  width: 1px;
}

#bottom-scroll-right {
  right: 0;
}

#favorites,
#taskbar,
.taskbar-desktop {
  display: flex;
}

#taskbar.hidden {
  display: none;
}

#favorites.hidden {
  display: none;
}

#favorites {
  margin-right: 5px;
  margin-top: auto;
  padding: 3px;
  border: var(--kr-shell-border) solid 1px;
  background-color: var(--kr-shell-background);
  height: calc(var(--kr-favorites-icon-size) + 6px);
}

.kr-favorite {
  border-top: 1px solid rgb(255 255 255 / 40%);
}

.kr-dark .kr-favorite {
  filter: brightness(0.8) contrast(1.2);
}

.kr-favorite:hover {
  border-top: 1px solid rgb(255 255 255 / 40%);
  filter: contrast(1.2);
}

.kr-favorite:active {
  border-top: 1px solid rgb(0 0 0 / 50%);
  box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
  filter: contrast(0.9);
}

.kr-favorite:active img {
  transform: scale(0.97);
}

.kr-favorite > img {
  width: var(--kr-favorites-icon-size);
  height: var(--kr-favorites-icon-size);
  margin: 3px;
  pointer-events: none;
}

.taskbar-desktop {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: auto;
  height: 15px;
  min-width: calc(var(--kr-taskbar-icon-size) + 12px);
  background-color: var(--kr-shell-background);
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid var(--kr-shell-border);
}

.taskbar-desktop::before {
  content: "";
  position: absolute;
  min-width: var(--kr-taskbar-icon-size);
  width: 100%;
  height: var(--kr-taskbar-icon-size);
  bottom: 0;
}

.sorting .taskbar-desktop:hover {
  min-width: calc(var(--kr-taskbar-icon-size) * 2);
  border-color: var(--kr-vibrant);
}

.taskbar-desktop.blur {
  transform: translateY(8px);
}

/*noinspection CssUnresolvedCustomProperty*/
.taskbar-item {
  --kr-badge-value: "";
  --kr-progress: 0%;

  margin-left: 3px;
  margin-right: 3px;
  bottom: var(--kr-taskbar-icon-size);
  height: calc(var(--kr-taskbar-icon-size) + 20px);
  position: relative;
  transform: translateY(8px);
  border: rgb(100 100 100) solid 1px;
  background: linear-gradient(90deg, var(--kr-color-dark) var(--kr-progress), var(--kr-color) var(--kr-progress));
}

.kr-dark .taskbar-item {
  filter: brightness(0.8) contrast(1.2);
}

.taskbar-item:hover,
.taskbar-item.focused:hover,
.taskbar-item.minimized:hover {
  transform: translateY(2px);
}

.taskbar-item:active,
.taskbar-item.focused:active,
.taskbar-item.minimized:active {
  transform: translateY(3px);
  transition-duration: unset;
}

.taskbar-item.focused {
  transform: translateY(4px);
}

.taskbar-item.minimized {
  transform: translateY(30px);
}

.taskbar-item.sortplace {
  opacity: 0;
}

.taskbar-item.sort-left {
  margin-left: calc(var(--kr-taskbar-icon-size) + 12px);
}

.taskbar-item.sort-right {
  margin-right: calc(var(--kr-taskbar-icon-size) + 12px);
}

.taskbar-item::after {
  content: var(--kr-badge-value);
  min-width: 24px;
  max-width: 67px;
  height: 24px;
  text-overflow: clip;
  overflow: hidden;
  background-color: #d73023;
  opacity: 0;
  position: absolute;
  z-index: 5;
  color: white;
  top: -7px;
  right: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge.taskbar-item::after {
  opacity: 1;
}

.taskbar-item::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  box-shadow: 0 0 0 3px red;
}

.attention.taskbar-item::before {
  opacity: 1;
}

.taskbar-item > img {
  height: var(--kr-taskbar-icon-size);
  width: var(--kr-taskbar-icon-size);
  margin: 3px;
}

.floating-taskbar-item {
  --pointer: 0;

  margin-left: 3px;
  margin-right: 3px;
  overflow: hidden;
  bottom: 0;
  height: calc(var(--kr-taskbar-icon-size) + 20px);
  position: fixed;
  z-index: 11000;
  pointer-events: none;
  transform: translateY(8px) translateX(
      calc(var(--pointer) - var(--kr-taskbar-icon-size) / 2)
  );
}

.floating-taskbar-item > img {
  height: var(--kr-taskbar-icon-size);
  width: var(--kr-taskbar-icon-size);
  margin: 3px;
}

#new-desktop {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: auto;
  background-color: var(--kr-shell-background);
  height: 15px;
  width: 26px;
  border: 1px solid var(--kr-shell-border);
  border-bottom-width: 0;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

#new-desktop::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--kr-taskbar-icon-size);
  bottom: 0;
}

#new-desktop.hidden {
  display: none;
  transform: translateY(calc(var(--kr-taskbar-icon-size) + 15px));
}

#new-desktop > span {
  display: flex;
  margin: auto;
  width: 15px;
  font-size: 15px;
  opacity: 0.7;
}

#new-desktop:hover {
  transform: translateY(-1px);
}

#new-desktop:active {
  transform: translateY(0);
}

.sorting #new-desktop:hover {
  width: calc(var(--kr-taskbar-icon-size) * 2);
  border-color: var(--kr-vibrant);
}

#hsa-b {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 100%;
}

#hsa-b > div {
  display: flex;
  position: relative;
  top: var(--kr-hotspot-margin);
}

.hsi-b {
  position: relative;
}

#hsa-b-favorites {
  margin-left: 4px;
  margin-right: 9px;
}

#hsa-b-favorites.hidden {
  display: none;
}

.hsi-b-favorite {
  width: calc(var(--kr-favorites-icon-size) + 6px);
}

.hsa-b-desktop {
  display: flex;
  margin-right: 9px;
  margin-left: 9px;
  min-width: var(--kr-taskbar-icon-size);
}

/*noinspection CssUnresolvedCustomProperty*/
.hsi-b-task {
  --kr-progress: 0%;

  width: calc(var(--kr-taskbar-icon-size) + 8px);
  margin-right: 3px;
  margin-left: 3px;
  background: linear-gradient(90deg, var(--kr-color-dark) var(--kr-progress), var(--kr-color) var(--kr-progress));
}

.hsi-b-task.attention {
  box-shadow: 0 0 4px 2px red;
}

#hsi-b-new-desktop {
  margin-right: 5px;
  margin-left: 5px;
  width: 36px;
  background-color: rgb(255 255 255 / 70%);
  transition: transform;
}

.panel-ph {
  position: fixed;
  z-index: 5000;
}

.panel-ph:hover {
  z-index: 5100;
}

#left-panel-ph,
#right-panel-ph {
  width: 7px;
  margin-top: 5px;
  top: calc(50vh - var(--kr-panel-height) / 2);
  height: var(--kr-panel-height);
}

#right-panel-ph {
  right: 0;
}

#top-panel-ph {
  width: 100%;
  height: 7px;
}

#bottom-panel-ph {
  bottom: 0;
  width: 100%;
  height: 7px;
}
