/**
 * @license
 * Copyright 2020 Mutlu Can YILMAZ
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

@keyframes opacityBlink {
    0% {
        opacity: .5;
    }
}

#startup-text span {
    animation-name: opacityBlink;
    animation-duration: 2s;
    animation-iteration-count: 15;
}

#k {
    animation-delay: 700ms;
}

#e {
    animation-delay: 800ms;
}

#r {
    animation-delay: 900ms;
}

#a {
    animation-delay: 1000ms;
}

#startup {
    transition: opacity, visibility;
    transition-duration: var(--kr-animation-duration);
}

#desktop {
    transition: transform;
    transition-duration: var(--kr-animation-duration);
    transition-timing-function: ease-out;
    animation-fill-mode: both;
    transform: scale(1);
}

#desktop.hidden {
    transform: scale(1.1);
}

#system-menus,
#panels {
    transition: opacity, visibility;
    transition-timing-function: linear;
    transition-duration: var(--kr-animation-duration);
}

.system-menu #top-area,
.system-menu #panels *,
.system-menu #bottom-area {
    opacity: 0;
}

#system-menus {
    opacity: 1;
}

#system-menus.hidden {
    opacity: 0;
}

.system-menu #desktop {
    transition: transform;
    transition-timing-function: ease;
    transition-duration: var(--kr-animation-duration);
}

.system-menu #applications {
    transition-delay: calc(var(--kr-animation-duration) / 3);
    transition-timing-function: ease, step-start, step-start;
}

#applications {
    transition: transform, height, width;
    transition-timing-function: ease, step-end, step-end;
    transition-duration: var(--kr-animation-duration);
}

#search {
    transition: opacity, visibility;
    transition-duration: calc(var(--kr-animation-duration) / 2);
}

.search #search {
    transition: opacity;
}

#search-container {
    transition: transform, opacity;
    transition-duration: calc(var(--kr-animation-duration) / 2);
    transition-timing-function: ease-out;
    transform: scale(.9);
}

.search #search-container {
    transition: transform, opacity;
    transition-duration: calc(var(--kr-animation-duration) / 2);
    transition-timing-function: ease-out;
    transform: scale(1);
}

#search-suggestions,
#search-results {
    transition: transform, opacity;
    transition-duration: calc(var(--kr-animation-duration) / 2);
    transition-timing-function: ease-out;
    transform: translateY(100px);
    opacity: 0;
}

.search #search-suggestions,
.search #search-results {
    transform: translateY(0px);
    opacity: 1;
}
